.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 450px;
  background-color: transparent;
  margin: 20px;
}
.btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}
.btn:focus {
  border-bottom: 3px solid goldenrod;
  transition-timing-function: ease-in-out;
}
.active {
  border-bottom: 3px solid goldenrod;
  transition-timing-function: ease-in-out;
}
.tabSelectionContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.list-items {
  background-color: transparent;
}
